<div class="article">
    <h2>Technology</h2><br>
    <div class="container">
        <img src="../assets/icons/angularMono.svg">
        <img src="../assets/icons/typescript.svg"> Angular - fundamentals<br>
        <img src="../assets/icons/html5.svg"> HTML - fundamentals<br>
        <img src="../assets/icons/css.svg"> CSS - fundamentals<br>
        <img src="../assets/icons/sql.svg"> SQL - fundamentals<br>
        <img src="../assets/icons/git.svg"> Git - fundamentals<br>
        <img src="../assets/icons/java.svg"> Java/JavaCard - fundamentals<br>
        <img src="../assets/icons/unix.svg"> Linux - fundamentals
    </div>
</div>