<div class="article">
    <h2>Technology</h2><br>
    <div class="container">
        <p>
            <img src="../assets/icons/angularMono.svg">
            <img src="../assets/icons/typescript.svg"> Angular - fundamentals
        </p>
        <p>
            <img src="../assets/icons/html5.svg"> HTML - fundamentals
        </p>
        <p>
            <img src="../assets/icons/css.svg"> CSS - fundamentals
        </p>
        <p>
            <img src="../assets/icons/sql.svg"> SQL - fundamentals
        </p>
        <p>
            <img src="../assets/icons/git.svg"> Git - fundamentals
        </p>
        <p>
            <img src="../assets/icons/java.svg"> Java/JavaCard - fundamentals
        </p>
        <p>
            <img src="../assets/icons/unix.svg"> Linux - fundamentals
        </p>
    </div>
</div>