<div id="container">
    <h2>About</h2><br>
    <p width="30%" style="float: left">
        <img class="border" src="../assets/portraitCropped.jpg">
    </p>
    <p class="text-justify" width="70%">
        My name is Paweł Ślepaczuk and I am graduate IT engineer of Lublin University of Technology.
        I am currently programming in JavaScript for back-end purposes.  
        My best experience comes from WebChili softwarehouse trainee program and personal projects on Github.  
        Recently I have passed engineer deegree exam with thesis "Digital Currency System using smart cards".
        Nowdays I am focused to get commercial experience as JavaScript Developer. Thanks to that I will fluently 
        implement back-end and front-end solutions on professional level.
    </p>
</div>