@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
h2 {
    font-family: Bungee, cursive;
    color: black;
}
#container {
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 8px;
    position: center;
    display: inline-block;
}
p {
    margin: 2%;
    font-family: Quicksand, sans-serif;
    font-weight: 600;
}
img {
    float: left; 
    width: auto;
    height:  175px;
    padding: 3px;
    border-radius: 10px;
}