<div id="container">
    <h2>About</h2><br>
    <p width="30%" style="float: left">
        <img class="border border-dark" src="../assets/portraitCropped.jpg">
    </p>
    <p class="text-justify" width="70%">
        My name is Paweł Ślepaczuk and I am graduate IT engineer of Lublin University of Technology.<br>
        I am currently programming in JavaScript for back-end purposes. 
        My best experience took place in WebChili softwarehouse during trainee program and is based on Github personal projects. 
        Recently I have passed engineer deegree exam with thesis "Digital Currency System using smart cards".
        Nowdays I am focused to get commercial experience as JavaScript Developer. <br>Thanks to that I will fluently
        implement back-end and front-end solutions on professional level.
    </p>
</div>
