
<div id="container">
    <h1>About</h1>
    <p class="description" style="float: left;">
        <img src="../assets/tempPhoto.jpg">
    </p>
    <p class="description" width="69%">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Pellentesque in fermentum erat, in consequat turpis. 
        Fusce non velit orci. Integer est lectus, faucibus et dignissim eu, 
        dignissim non dolor. Mauris sem elit, pretium et magna vitae, 
        laoreet pharetra metus. Aliquam erat volutpat. Aenean sem tortor, 
        tincidunt vitae magna id, iaculis lobortis nisi. Praesent aliquet diam sit 
        amet mattis feugiat. Maecenas molestie enim in ex faucibus, non malesuada orci pharetra. 
        Nunc eget accumsan est. Mauris quis fermentum ante. Duis maximus ultrices diam quis suscipit. 
    </p>
</div>