@import url('https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap');

.navbar {
    background-color: black;
    width: 100%;
    top: 0px;
    border-bottom: darkred solid;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.leftGap {
    width: 10%;
    height: 80%;
    border-radius: 10%;
    background-color: black;

    flex-flow: row;
    display: flex;
}
.logo {
    align-self: center;
    border-radius: 10%;
    max-width: 80%;
    max-height: 80%;
}
.name {
    font-family: 'Bungee Shade', cursive;
    font-size-adjust: 0.7;
    text-align: center;
    color:  #5CE1E6;
    max-height: 70%;
}
.rightGap {
    width: 10%;
    background-color: black;
}
