<div id="container">
    <h2>Contact</h2>
    <p>Please, feel free to contact me.</p>
    <a id="mailContact" class="btn btn-sm btn btn-secondary" href="mailto:pawel.slepaczuk@protonmail.com">
        <font color="black">pawel.slepaczuk@protonmail.com</font>
    </a><br>
    <a id="github" class="btn btn-sm btn btn-secondary" href="https://github.com/gecko031"></a> - Github repository<br>
    <a id="linkedin" class="btn btn-sm btn btn-secondary" href="https://www.linkedin.com/in/pawel-slepaczuk"></a> - Linkedin profile 
</div>