<h2>Projects</h2><br>
<div class="main-container">
    <div class="container">
        <img class="border border-dark" src="../assets/work/pomodoro.jpg">
        <div class="overlay">
            <div class="text">
                <a href="https://github.com/gecko031/PSpomodoro">PSpomodoro</a><br><br>
                <p class="description">Chrome extension timer</p>
            </div>
        </div>
    </div>
    <div class="container">
        <img class="border border-dark" src="../assets/work/todo.jpg">
        <div class="overlay">
            <div class="text">
                <a href="https://github.com/gecko031/PSweb" >PSweb</a><br><br>
                <p class="description">TODO app</p>
            </div>
        </div>
    </div>
    <div class="container">
        <img class="border border-dark" src="../assets/work/card.jpg">
        <div class="overlay">
            <div class="text">
                <a href="https://github.com/gecko031/loyalty-applet">LoyaltyApplet</a><br><br>
                <p class="description">Smart card applet</p>
            </div>
        </div>
    </div>
    <div class="container">
        <img class="border border-dark" src="../assets/work/shop.jpeg">
        <div class="overlay">
            <div class="text">
                <a href="https://github.com/gecko031/loyalty-GUI">LoyaltyGUI</a><br><br>
                <p class="description">Guitar shop implementation</p>
            </div>
        </div>
    </div>
</div>