@import url('https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap');
.navbar {
    background-color: black;
}
#siteName {
    font-family: 'Bungee Shade', cursive;
    font-size-adjust: 2;
    color:  #5CE1E6;
}